body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefcf7;
    align-items: center;
}

header {
    display: flex;
    background-color: #fbf4e4;
    color: rgba(106, 131, 43, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 90px; /* Adjust as needed */
    margin-right: 10px; /* Space between the logo and text */
    margin-left: 40px;
}

.site-name{
    display: flex; 
    align-items: center;
    gap: 15px; 
}

header .site-name h1 {
    font-size: 24px;
    margin-left: 0px;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgba(106, 131, 43, 1);
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.sdg-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px; 
    margin: 200px;
    margin-top: 80px;
}

.sdg-square {
    aspect-ratio: 1 / 1;
    padding: 10px; 
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.sdg-square:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: -2px; 
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}
