body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefcf7;
    align-items: center;
  }
  
  header {
    display: flex;
    background-color: #fbf4e4;
    color: rgba(106, 131, 43, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 90px; /* Adjust as needed */
    margin-right: 10px; /* Space between the logo and text */
    margin-left: 40px;
  }
  
  .site-name{
    display: flex; 
    align-items: center;
    gap: 15px; 
  }
  
  header .site-name h1 {
    font-size: 24px;
    margin-left: 0px;
    white-space: nowrap;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 60px;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 15px;
  }
  
  nav ul li a {
    color: rgba(106, 131, 43, 1);
    text-decoration: none;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .carousel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .carousel img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .postTitle h1{
    color: rgb(54, 67, 22);
  }
  
  .details {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  .details h2 {
    color: rgb(54, 67, 22);
    margin-bottom: 10px;
  }
  .details p {
    margin: 5px 0;
  }

  .language-options {
    display: none;
    position: absolute;
    background-color: #fbf4e4;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 100;
  }
  
  .language-dropdown {
    position: relative;
  }
  
  .language-dropdown.open .language-options {
    display: block;
  }
  
  .language-options li {
    margin: 5px 0;
  }
  
  .language-options li a {
    color: rgba(106, 131, 43, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .language-options li a:hover {
    text-decoration: underline;
  }
  
  .language-options a.active-lang {
    font-weight: bold;
    color: rgb(68, 83, 28);
  }

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: rgba(106, 131, 43, 1);
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .hamburger {
      display: flex;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #fbf4e4;
      padding: 10px 20px;
  }

  nav ul.active {
      display: flex;
  }

  nav ul li {
      margin: 10px 0;
  }
}
  
  footer {
    background-color: #fbf4e4;
    color: rgba(106, 131, 43, 1);
    text-align: center;
    padding: 15px;
  }