body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefcf7;
    align-items: center;
}

header {
    display: flex;
    background-color: #fbf4e4;
    color: rgba(106, 131, 43, 1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 90px; /* Adjust as needed */
    margin-right: 10px; /* Space between the logo and text */
    margin-left: 40px;
}

.site-name{
    display: flex; 
    align-items: center;
    gap: 15px; 
}

header .site-name h1 {
    font-size: 24px;
    margin-left: 0px;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgba(106, 131, 43, 1);
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.sdg-page {
    font-family: 'League Spartan', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.716), rgba(255, 255, 255, 0.047)), 
                url('https://i.pinimg.com/736x/9f/64/2c/9f642caf61ab5f43fd5f6aa2220e9338.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
}


.sdg-content {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.503);
    padding: 20px;
    border-radius: 10px;
}

.sdg-intro {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

footer {
    background-color: #fbf4e4;
    color: rgba(106, 131, 43, 1);
    text-align: center;
    padding: 15px;
}